.imageSize {
    height: 300px;
}

ul {
  list-style: none;
}

body {
  font-family: fantasy;
  background-color: cadetblue;
  display: flex;
  text-align: center;
}

.item {
  border-style: solid;
  border-color: cornsilk;
  border-width: 0.5em;
  max-width: 600px;
  text-align: center;
}

